<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
  
   <!-- Define servlet-mapped and path-mapped example filters -->
    <filter>
        <filter-name>OpenID Auth</filter-name>
        <filter-class>myfilter.OpenID_Auth</filter-class>
        <init-param>
            <param-name>Redirect-Page</param-name>
            <param-value>http://10.10.9.88:8080/openid-connect-server/</param-value>
        </init-param>
    </filter>

    <!-- Define filter mappings for the defined filters -->
    <filter-mapping>
        <filter-name>OpenID Auth</filter-name>
        <url-pattern>/openid/*</url-pattern>
    </filter-mapping>

</web-app>